<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
	  
	  
<body>

	
	<!-- Modal Alert -->
	<div class="modal fade" id="alertError" tabindex="-1" role="dialog" aria-labelledby="alertErrorLabel" aria-hidden="true" style="margin-top: 50px;" th:fragment="modal-alert">
	  <div class="modal-dialog " role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="alertErrorLabel" ></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="alertError_iconClose">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center" >
	      	<p id="messageModal"></p>
	      </div>
	      <div class="modal-footer" id="alertError_btClose">
	        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- Modal Question -->
	<div class="modal fade" id="alertQuestion" tabindex="-1" role="dialog" aria-labelledby="alertQuestionLabel" aria-hidden="true" style="margin-top: 100px;"  th:fragment="modal-question">
	  <div class="modal-dialog " role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="alertQuestionLabel"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center" id="alertQuestionBody">
	      		 <button type="button" class="btn btn-danger btn-sm  px-4 mx-2" data-dismiss="modal" ng-click="defineActionButton(1)">SIM</button>
	      		 <button type="button" class="btn btn-secondary btn-sm  px-4 mx-2" data-dismiss="modal" ng-click="defineActionButton(0)">NÃO</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	
	<!-- Modal Question -->
	<div class="modal fade " id="load" tabindex="-1" role="dialog" data-backdrop="static"  aria-labelledby="loadingLabel" aria-hidden="true" style="margin-top: 150px;" th:fragment="modal-load">
	  <div class="modal-dialog " role="document">
	    <div class="modal-content">
	      <div class="modal-body text-center" id="alertQuestionBody">
	      	<h4>Aguarde...</h4>
	      	<div class="spinner-border m-3"></div>
	      </div>
	    </div>
	  </div>
	</div>

</body>	  
	  
</html>